<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.db1.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>

  <!--根据用户id查询该用户所有角色-->
  <select id="getRolesByUserId" resultType="string" parameterType="string">
    select sr.role_value
    from user_role ur
    left join sys_role sr on ur.role_id = sr.id
    where ur.user_id = #{userId,jdbcType=VARCHAR}
    and sr.is_disable = 0
  </select>
</mapper>